{
	"presets": [
        ["@babel/preset-env", {
            // "targets": {
            //     "node": "8.10"
            //     },
            //"debug":true,
            "corejs":"2",
            "useBuiltIns":"usage",
            }
        ],
    ],
    "plugins": [ "@babel/plugin-proposal-class-properties" ]
}
