footer {
    //background-color: $color-2;
    background-color: lighten($color-3,5%);
    background-image: linear-gradient(180deg, lighten($color-3,5%) 20%, $color-2 100%);
    //background-image: url($assets-path + '/img/bg3.jpg');

    color: white;
    padding: 1em;
    font-size: 0.9em;
    position: relative;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);

    .wrapper {
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;

        div {
            justify-self: flex-start;
        }
    }

    a {
        color: $color-1;
        font-weight: 600;

        &:hover {
            color: $color-6;
        }

        i {
            // font-size: 1.1em;
        }
    }

    h3 {
        text-align: center;
        font-size: 1em;
    }
}

.mentions-legales, .licences {
    width: fit-content;
    margin: 0 1em 1em;

    p {
        font-size: 0.8em;
        font-style: italic;
        position: relative;
    }

}

.mentions-legales {

    p {
        margin: 1.15em 0;    
    }
    

    .rm {
        margin-bottom: 0.8em;
    }

    .hosting {
        margin: 0;
    }
}

.licences {
    max-width: 380px;

    p {
        width: fit-content;
        margin: 0.3em 0;
    }

    .others {
        margin-bottom: 0;
    }

    .sub {
        margin-top: 0;
        //margin-left: 1em;
    }
}

    
.o2switch-logo {
    position: relative;
    top: 0.4em;
    height: 1.5em;
    padding:  0 0 0 0.2em;
    border: 0.1em solid rgba(255, 255, 255, 0);
    border-radius: 0.5em;

    &:hover {
        border: 0.1em solid $color-6;
    }
}

.fa-logo {
    position: relative;
    margin-right: 0.15em;
}



@media only screen and (max-width: 800px) {
    footer {

        .licences {

            p {
                margin: 0.5em 0;
            }
        
            .others {
                margin-bottom: 0.1em;
            }
        
            .sub {
                margin-top: 0.1em;
            }
        }

        .mentions-legales {

            p {
                margin: 0.5em 0;    
            }
            
            .rm {
                margin-bottom: -0.1em;
            }
        }
    }
}