@import "sections/presentation";
@import "sections/services";
@import "sections/tarifs";
@import "sections/zone-intervention";
@import "sections/contact";

main {
    // word-break: break-all;
    word-wrap: break-word;
    padding-bottom: 3em;

    flex-grow:1;

    section {
        border-top: dotted 1px #dddddd;
        padding: 1em 5%;
   
        &:first-of-type {
            border-top: none;
        }
    
        h1 {
            text-align: center;
            width: 100%;
            font-family: 'Courgette', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: calc( 0.95em + 0.8vw);
            font-weight: 600;
        }
    
        h1:after {
            display: block;
            content: '';
            width: 2.73em;
            height: 0.16em;
            margin: 0.4em auto 1.05em auto;
            border-radius: 0.8em;
            background-image: $hr-linear-grandient;
        }

        h3 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
            font-weight: 600;
            font-size: 1.03em;
        }
    }

    .flex-row {
        //border: 1px solid red;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
    
        justify-content: center;
        align-items: center;
    }

    .button-1 {
        border: none;
        //border: 1px solid black;
        margin: 0 0.7em;
        padding: 0.5em 1em;
        border-radius: 0.4em;
        background-color: lighten($color-1,10%); // rgba($color-1, 0.7);
        color: white;
        text-transform: uppercase;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.7em;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0.4em 0.4em 0.4em rgba(0, 0, 0, 0.3);
        white-space: nowrap;
        display: inline-block;
        line-height: 1.07em;
        transition: 0.3s ease;
    }

    .button-1:hover, .toggle-active {
        background-color: lighten($color-1,25%);//rgba($color-1, 0.466);
        transform: scale(1.05,1.05);
    }

    .toggle-content {
        //border: 1px solid grey;
        border-radius: 0.4em;
        background-color: lighten($color-3,29%);
        box-shadow: 0.25em 0.25em 0.5em rgba(black, 0.3),
                    0 0 10px rgba(black, 0.1) inset;
        position: relative;
    }
    
}

@media only screen and (max-width: 600px) {
    main {
        section {
            padding: 1em 3%;
        }
    }
    
}






