i {

    &.arobase:after {
        content:'@';
    }

    &.dot:after {
        content:'.';
    }

    &.zero:after {
        content:'0';
    }

    &.one:after {
        content:'1';
    }

    &.two:after {
        content:'2';
    }

    &.three:after {
        content:'3';
    }

    &.four:after {
        content:'4';
    }

    &.five:after {
        content:'5';
    }

    &.six:after {
        content:'6';
    }

    &.seven:after {
        content:'7';
    }

    &.height:after {
        content:'8';
    }

    &.nine:after {
        content:'9';
    }
}