/* courgette-regular - latin
 *
 * Thanks to :
 * https://google-webfonts-helper.herokuapp.com/fonts/courgette?subsets=latin
 */
@font-face {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/courgette-v7-latin/courgette-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Courgette Regular'), local('Courgette-Regular'),
         url('/fonts/courgette-v7-latin/courgette-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/courgette-v7-latin/courgette-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/courgette-v7-latin/courgette-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/courgette-v7-latin/courgette-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/courgette-v7-latin/courgette-v7-latin-regular.svg#Courgette') format('svg'); /* Legacy iOS */
  }

// Image will rezize to fit inside screen area
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

.nowrap {
    white-space: nowrap;
}

.break {
    word-break: break-all;
}

.svg-inline--fa {
    height: 1em;
    position: relative;
    top: 0.2em;
    margin-right: 0;
}

.svg-inline--fa-2 {
    height: 1em;
    position: relative;
    top: 0.12em;
    margin-right: 0;
}

.svg-inline--margin-25 {
    margin-right: 0.25em;
}

.svg-inline--margin-10 {
    margin-right: 0.10em;
}

button:focus {outline:0;}

.info-bulle {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.text-align-center {
    text-align: center;
}