
#contact {

    .wrapper {
        flex-direction: column;
        // align-items: flex-start;

        >div {
            width: fit-content;
        }
    }

    p {
        font-weight: 600;
        margin: 0;
        // padding: 10px;
    }

    a {
        padding: 5px;
        display: inline-block;
        border: none;
        padding: 0.4em 0.8em;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;      
        //white-space: nowrap;
        line-height: 1.07em;
    }

    a:hover {
        // text-decoration: underline;
        border-radius: 0.4em;
        background-color: lighten($color-1,10%); // rgba($color-1, 0.7);
        color: white;
        box-shadow: 0.3em 0.3em 0.4em rgba(0, 0, 0, 0.3);
    }

    i {
        font-style: normal;
    }

    .fa-phone-alt {
        top: 0.12em;
    }

    svg.svg-inline--fa {
        margin-right: 0.3em;
    }

}


// @media only screen and (max-width: 650px) {
//     #contact {
//     }
// }