
#tarifs {

    h1 {
        margin-bottom: 0;
    }

    .flex-row {
        max-width: $max-width-wrapper;
        align-items: stretch;
        justify-content: space-around;
    }

    .button-1 {
        font-size: 0.8em;
    }

    .column {
        // max-width: 350px;
        max-width: 45%;
        min-width: 300px;
        //padding: 0 20px 0;
        margin: 1em 0;
        border-radius: 1em;
        box-shadow: 0.3em 0.3em 1em 2px rgba(0, 0, 0, 0.2),
                    0 0 15px rgba(black, 0.3) inset;
        transition: 0.3s ease;
        overflow: hidden;
        background-color: $color-1;
        display: flex;
        flex-direction: column;
        position: relative;

        &:after {
            content: " ";
            //border: 1px solid red;
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) inset;
            pointer-events: none;
        }
        
        h3 {
            width: 100%;
            //margin: 0;
            padding: 0.2em 0 0.6em;
            font-size: 1.1em;
            text-align: center;
            color: white;
            transition: 0.6s ease;
            text-shadow: 0 0 8px rgb(250, 235, 253);
        }

        .image-box {
            position: relative;
            top: 5px;

            img {
                width: 100%;
            }
        }

        .i1{
            transform: scale(1.3,1.3);
        }
        .i2{
            left: -8%;
            top:-30%;
            opacity: .5;
            transition: all .6s ease;
            position: absolute;
        }
        .i3{
            left: 10%;
            top:-30%;
            opacity: .5;
            transition: all .6s ease;
            position: absolute;
        }

        &:hover {
            // box-shadow: 0.3em 0.3em 0.8em rgba($color-7, 0.3),
            // 0.3em -0.3em 0.8em rgba($color-7, 0.3),
            // -0.3em 0.3em 0.8em rgba($color-7, 0.3),
            // -0.3em -0.3em 0.8em rgba($color-7, 0.3);

            h3 {
                transform: scale(1.1, 1.1);
            }

            .i2 {
                left: -18%;
            }
            .i3 {
                left: 18%;
            }
        }

        .content-box {
            background-color: white;
            padding: 0 15px;
            flex-grow: 1;
            position: relative;
        }

        p {
            text-align: center;
            font-size: 0.8em;
            //line-height: 1.5em;
            position: relative;
            top: -15%;

            &:first-child {
                margin-top: 0;
                font-size: 0.95em;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }

        strong {
            font-size: 1.2em;
        }

        .button-1 {
            margin: 3px 3px;
        }
    }

}

@media only screen and (max-width: 900px) {
    #tarifs .column {
        width: 85%;
        max-width: 500px;
        min-width: 0;
    }
}

